.flex-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.flex-container-center
{
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
}

.flex-container-left
{
    display: flex;
    justify-content: flex-start;
    height: 500px;
    align-items: center;
}

.grid-container
{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    height: auto;
}

.item1, .item3
{
    height: 100px;
}

.item2
{
    height: auto;
}

.button
{
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px rgb(0, 90, 255);
    border-radius: 8px;
    background-color: rgb(0, 90, 255);
    cursor: pointer;
    margin: 10px;
}

.button:hover
{
    color: blue;
    background-color: yellow;
}

.button:active
{
    color: black;
    background-color: red;
}

input
{
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 16px;
    text-align: left;
    color: black;
    text-decoration: none;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 8px;
    padding: 16px;
    width: 400px;
    margin: 10px;
}

input[type=text]:focus
{
    background-color: lightblue;
}

button
{
    width: 432px;
}

#href
{
    width: 200px;
}

div > a
{
    display: block;
    color: white;
    text-decoration: none;
}

div > a:hover
{
    color: blue;
}

div > a:active
{
    color: black;
}






